/* line 1, ../scss/style.scss */
body {
  margin: 0;
  font-family: 'Varela Round', cursive;
  color: #555; }

/* line 7, ../scss/style.scss */
a {
  color: #BB6600; }

/* line 11, ../scss/style.scss */
a:hover {
  color: #FFCC00; }

/* line 15, ../scss/style.scss */
.clearfix {
  clear: both; }

/* line 21, ../scss/style.scss */
header {
  animation: headerFadeIn 0.5s cubic-bezier(0, 0.6, 0.4, 1) forwards;
  background-color: #FFCC00;
  padding: 1.5px 20px;
  top: 10px;
  left: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }
@keyframes headerFadeIn {
  0% {
    top: -200px; }
  100% {
    top: 10px; } }
  /* line 32, ../scss/style.scss */
  header .logo-circle {
    position: absolute;
    background: #FFCC00;
    border-radius: 1000px;
    z-index: 100;
    width: 110px;
    height: 110px;
    padding: 12px 10px;
    top: -27px; }
    /* line 41, ../scss/style.scss */
    header .logo-circle img {
      width: 80px; }
    /* line 44, ../scss/style.scss */
    header .logo-circle h1 {
      display: none; }
  /* line 49, ../scss/style.scss */
  header .search {
    margin-top: 10px;
    margin-bottom: 10px; }
    /* line 52, ../scss/style.scss */
    header .search .nav {
      margin: 0 15px; }
      /* line 54, ../scss/style.scss */
      header .search .nav li {
        margin-top: 10px; }
        /* line 56, ../scss/style.scss */
        header .search .nav li a {
          padding-left: 15px; }
          /* line 58, ../scss/style.scss */
          header .search .nav li a span {
            margin-left: 0;
            margin-right: 8px; }
    /* line 65, ../scss/style.scss */
    header .search input[type=submit] {
      background: #333;
      border: 0;
      color: rgba(183, 154, 118, 0.95); }
    /* line 70, ../scss/style.scss */
    header .search input[type=submit]:hover {
      background: #fff192; }
  @media (max-width: 768px) {
    /* line 76, ../scss/style.scss */
    header .logo-circle {
      position: initial;
      width: auto;
      padding: 10px;
      height: auto;
      top: 0; }
      /* line 82, ../scss/style.scss */
      header .logo-circle img {
        width: auto; }
    /* line 86, ../scss/style.scss */
    header .col-search-logo {
      margin: -12vw 0 -8vw 0; }
    /* line 89, ../scss/style.scss */
    header .col-search-button,
    header .col-search-building {
      margin-top: 10px; } }

/* line 101, ../scss/style.scss */
#gvMap .mapContent .gvMapInner {
  border: 8px dashed #F0F0F0;
  transform: rotate(-1deg);
  max-width: 100vh;
  margin: 20px auto; }

@media (max-width: 768px) {
  /* line 114, ../scss/style.scss */
  #gvMap .mapContent .gvMapInner {
    border: 0;
    transform: none;
    max-width: inherit;
    margin: 0; } }
/* line 124, ../scss/style.scss */
.nav-tabs a {
  color: #DDD !important;
  cursor: pointer !important; }
  /* line 127, ../scss/style.scss */
  .nav-tabs a span {
    margin-right: 8px; }

/* line 133, ../scss/style.scss */
#searchResults ul {
  padding: 0; }
/* line 136, ../scss/style.scss */
#searchResults li {
  list-style: none; }
/* line 139, ../scss/style.scss */
#searchResults p {
  text-align: justify; }

/* line 149, ../scss/style.scss */
footer {
  margin-top: 80px;
  background-color: #F0F0F0;
  padding: 20px;
  text-align: center; }

/* line 156, ../scss/style.scss */
body.dev-env #gv-logo-inner {
  animation-delay: 0s;
  display: none; }
