/* line 1, ../scss/style.scss */
body {
  margin: 0;
  font-family: 'Varela Round', cursive;
  color: #555; }

/* line 7, ../scss/style.scss */
a {
  color: #BB6600; }

/* line 11, ../scss/style.scss */
a:hover {
  color: #FFCC00; }

/* line 17, ../scss/style.scss */
header {
  animation: headerFadeIn 0.5s cubic-bezier(0, 0.6, 0.4, 1) forwards;
  background-color: #FFCC00;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  position: absolute;
  padding: 32.5px 20px;
  width: auto;
  top: 10px;
  left: 10px;
  border-radius: 140px; }
@keyframes headerFadeIn {
  0% {
    top: -200px; }
  100% {
    top: 10px; } }
  /* line 31, ../scss/style.scss */
  header h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0; }
    /* line 35, ../scss/style.scss */
    header h1 img {
      width: 80px;
      margin: 10px; }
    /* line 39, ../scss/style.scss */
    header h1 span {
      color: #CCC;
      display: none; }

/* line 46, ../scss/style.scss */
#gvMap {
  background: #F0F0F0;
  height: 60vw; }
  /* line 49, ../scss/style.scss */
  #gvMap .mapContent {
    background: url("../images/map.jpg");
    height: 100%;
    background-size: 100%;
    background-position: 50% 50%;
    box-shadow: inset 2px 1px 12px rgba(0, 0, 0, 0.2); }

/* line 58, ../scss/style.scss */
.search {
  margin: 10px 0; }
  /* line 60, ../scss/style.scss */
  .search .nav {
    margin: 0 15px; }
    /* line 62, ../scss/style.scss */
    .search .nav li {
      margin-top: 10px; }
      /* line 64, ../scss/style.scss */
      .search .nav li a {
        padding-left: 15px; }
        /* line 66, ../scss/style.scss */
        .search .nav li a span {
          margin-left: 0;
          margin-right: 8px; }
  /* line 73, ../scss/style.scss */
  .search input[type=submit] {
    background: #FFCC00;
    border: 0; }

/* line 79, ../scss/style.scss */
.nav-tabs a {
  color: #DDD !important;
  cursor: pointer !important; }

/* line 85, ../scss/style.scss */
#searchResults ul {
  padding: 0; }
/* line 88, ../scss/style.scss */
#searchResults li {
  list-style: none; }
/* line 91, ../scss/style.scss */
#searchResults p {
  text-align: justify; }

/* line 101, ../scss/style.scss */
footer {
  margin-top: 80px;
  background-color: #F0F0F0;
  padding: 20px;
  text-align: center; }
