/* line 1, ../scss/style.scss */
body {
  margin: 0;
  font-family: 'Varela Round', cursive;
  color: #555; }

/* line 7, ../scss/style.scss */
a {
  color: #BB6600; }

/* line 12, ../scss/style.scss */
.nav-tabs, .search-results, .detail {
  display: none; }

/* line 18, ../scss/style.scss */
header {
  background-color: #FFCC00;
  height: 80px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  position: relative; }
  /* line 23, ../scss/style.scss */
  header h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0; }
    /* line 27, ../scss/style.scss */
    header h1 img {
      width: 80px;
      margin: 10px; }
    /* line 31, ../scss/style.scss */
    header h1 span {
      color: #CCC;
      display: none; }

/* line 38, ../scss/style.scss */
#gvMap {
  background: #F0F0F0;
  height: 30vw; }
  /* line 41, ../scss/style.scss */
  #gvMap .mapContent {
    background: url("../img/map.jpg");
    height: 100%;
    background-size: 100%;
    background-position: 50% 50%;
    box-shadow: inset 2px 1px 12px rgba(0, 0, 0, 0.2); }

/* line 50, ../scss/style.scss */
.search {
  margin: 10px 0; }
  /* line 52, ../scss/style.scss */
  .search .nav {
    margin: 0 15px; }
    /* line 54, ../scss/style.scss */
    .search .nav li {
      margin-top: 10px; }
      /* line 56, ../scss/style.scss */
      .search .nav li a {
        padding-left: 15px; }
        /* line 58, ../scss/style.scss */
        .search .nav li a span {
          margin-left: 0;
          margin-right: 8px; }
  /* line 65, ../scss/style.scss */
  .search input[type=submit] {
    background: #FFCC00;
    border: 0; }

/* line 72, ../scss/style.scss */
.search-results li {
  list-style: none; }
/* line 75, ../scss/style.scss */
.search-results p {
  text-align: justify; }

/* line 85, ../scss/style.scss */
footer {
  background-color: #F0F0F0;
  padding: 20px;
  text-align: center; }
