body {
  margin: 0;
  font-family: 'Varela Round', cursive;
  color: #555;
}

a {
  color: #BB6600;
}

a:hover {
  color: #FFCC00;
}

.clearfix {
  clear: both;
}

$shadow_min: 0px 1px 2px rgba(0, 0, 0, 0.3);

header {
  @keyframes headerFadeIn {
    0% { top: -200px; }
    100% { top: 10px; }
  }
  animation: headerFadeIn 0.5s cubic-bezier(0, 0.6, 0.4, 1) forwards;
  background-color: #FFCC00;
  padding: 1.5px 20px;
  top: 10px;
  left: 10px;
  box-shadow: $shadow_min;
  .logo-circle {
    position: absolute;
    background: #FFCC00;
    border-radius: 1000px;
    z-index: 100;
    width: 110px;
    height: 110px;
    padding: 12px 10px;
    top: -27px;
    img {
      width: 80px;
    }
    h1 {
      display: none;
    }
  }

  .search {
    margin-top: 10px;
    margin-bottom: 10px;
    .nav {
      margin: 0 15px;
      li {
        margin-top: 10px;
        a {
          padding-left: 15px;
          span {
            margin-left: 0;
            margin-right: 8px;
          }
        }
      }
    }
    input[type=submit] {
      background: #333;
      border: 0;
      color: rgba(183, 154, 118, 0.95);
    }
    input[type=submit]:hover {
      background: #fff192;
    }
  }
  // Responsive.
  @media (max-width: 750px) {
    .logo-circle {
      position: initial;
      width: auto;
      padding: 10px;
      height: auto;
      top: 0;
      img {
        width: auto;
      }
    }
    .col-search-logo {
      margin: -55px 0;
    }
    .col-search-button {
      margin-top: 10px;
    }
  }
}

#gvMap {
  .mapContent {
    .mapZone {
      display: none;
    }
    .gvMapInner {
      border: 20px solid #F0F0F0;
      transform: rotate(-1deg);
      max-width: 100vh;
      margin: 20px auto;
    }
  }

}

// Responsive.
@media (max-width: 750px) {
  #gvMap {
    .mapContent {
      .gvMapInner {
        border: 0;
        transform: none;
        max-width: inherit;
        margin: 0;
      }
    }
  }
}

.nav-tabs a {
  color: #DDD !important;
  cursor: pointer !important;
  span {
    margin-right: 8px;
  }
}

#searchResults {
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
  p {
    text-align: justify;
  }
}

.detail {
  .block {
  }
}

footer {
  margin-top: 80px;
  background-color: #F0F0F0;
  padding: 20px;
  text-align: center;
}

body.dev-env #gv-logo-inner {
  animation-delay: 0s;
  display: none;
}
