body {
  margin: 0;
  font-family: 'Varela Round', cursive;
  color: #555;
}

a {
  color: #BB6600;
}

a:hover {
  color: #FFCC00;
}

.clearfix {
  clear: both;
}

$shadow_min: 0px 1px 2px rgba(0, 0, 0, 0.3);

header {
  @keyframes headerFadeIn {
    0% { top: -200px; }
    100% { top: 10px; }
  }
  animation: headerFadeIn .5s cubic-bezier(0, .6, .4, 1) forwards;
  background-color: #FFCC00;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  position: absolute;
  padding: 32.5px 20px;
  width: auto;
  top: 10px;
  left: 10px;
  border-radius: 140px;
  h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    img {
      width: 80px;
      margin: 10px;
    }
    span {
      color: #CCC;
      display: none;
    }
  }
}

#gvMap {

  .mapContent {
    .mapZone {
      display: none;
    }
  }
}

.search {
  margin-top: 10px;
  margin-bottom: 10px;
  .nav {
    margin: 0 15px;
    li {
      margin-top: 10px;
      a {
        padding-left: 15px;
        span {
          margin-left: 0;
          margin-right: 8px;
        }
      }
    }
  }
  input[type=submit] {
    background: #FFCC00;
    border: 0;
  }
}

.nav-tabs a {
  color: #DDD !important;
  cursor: pointer !important;
  span {
    margin-right: 8px;
  }
}

#searchResults {
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
  p {
    text-align: justify;
  }
}

.detail {
  .block {
  }
}

footer {
  margin-top: 80px;
  background-color: #F0F0F0;
  padding: 20px;
  text-align: center;
}

body.dev-env #gv-logo-inner {
  animation-delay: 0s;
  display: none;
}
