body {
  margin: 0;
  font-family: 'Varela Round', cursive;
  color: #555;
}

a {
  color: #BB6600;
}

// Default page element states.
.nav-tabs, #searchResults, .detail {
  //display: none;
}

$shadow_min: 0px 1px 2px rgba(0, 0, 0, 0.3);

header {
  background-color: #FFCC00;
  height: 80px;
  box-shadow: $shadow_min;
  position: relative;
  h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    img {
      width: 80px;
      margin: 10px;
    }
    span {
      color: #CCC;
      display: none;
    }
  }
}

#gvMap {
  background: #F0F0F0;
  height: 30vw;
  .mapContent {
    background: url("../images/map.jpg");
    height: 100%;
    background-size: 100%;
    background-position: 50% 50%;
    box-shadow: inset 2px 1px 12px rgba(0, 0, 0, 0.2);
  }
}

.search {
  margin: 10px 0;
  .nav {
    margin: 0 15px;
    li {
      margin-top: 10px;
      a {
        padding-left: 15px;
        span {
          margin-left: 0;
          margin-right: 8px;
        }
      }
    }
  }
  input[type=submit] {
    background: #FFCC00;
    border: 0;
  }
}

#searchResults {
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
  p {
    text-align: justify;
  }
}

.detail {
  .block {
  }
}

footer {
  background-color: #F0F0F0;
  padding: 20px;
  text-align: center;
}
